  ::-webkit-scrollbar{
    display: none;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
  
  div.home{
    height: 100vh;
    background-color: black;
    background: linear-gradient(301.44deg, #000000 0%, rgba(255, 255, 255, 0) 100%), 
    url(../../../assets/44511770_2258202144212143_8416710834306154496_o.jpg);
    background-attachment: fixed;
      background-position: 100% 30%;
      background-size: 70%;
      background-repeat: no-repeat;
      background-size: cover;
      border-bottom: 6px solid transparent;
      border-image: linear-gradient(to right, #004C6D, #F4BD16, #B40202);
      border-image-slice: 1;
  }
  
  div.black{
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.85);
  }
  
  .titlebar{
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 1;
    -webkit-transition: all .3s ease-in-out;
  }
  
  
  .titlebar:hover{
    color: wheat;
  }
  
  #titlebar {
    background: rgba(0, 0, 0, 0);
  }
  
  #logo{
    width: 113px;
    height: 113px;
    opacity: 0;
    margin: -5px 0px 0px 10px;
  }
  
  
  .nav{
    position: absolute;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: white;
    width: 800px;
    left: 48.65%;
    right: 16.41%;
    top: 22%;
    bottom: 98.45%;
    
  }
  
  div.box{
    overflow: hidden;
    text-transform: uppercase;
    letter-spacing: 5px;
    float: left;
    height: 60px;
    background-color: rgba(255, 255, 255, 0);
    border: solid thin rgba(245, 222, 179, 0);
    text-align: center;
    vertical-align: middle;
    margin: 0px 25px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    display: grid;
    -webkit-transition: all .3s ease-in-out;
  }
  
  .active{
    font-weight: bold;
    opacity: 1 !important;
  }
  
  
  a.link{
    padding: 10px 10px 10px 10px;
    color: inherit;
  }
  
  .dot{
    margin-top: -15px;
    font-size: 25px;
    position: relative;
    opacity: 0;
  }
  
  div.socials{
    overflow: hidden;
    text-transform: uppercase;
    letter-spacing: 5px;
    float: left;
    height: 60px;
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: -0.5%;
  }
  
  a.social{
    transition: 0.25s -webkit-filter linear;
  }
  
  div.container{
    margin:auto;
    width: 70%;
    padding-top: 100px;
  }
  
  .box:hover{
    color:wheat;
  }
  
  .social:hover{
    filter: invert(10%) sepia(6%) saturate(2652%) hue-rotate(321deg) brightness(107%) contrast(92%);
  }
  
  .alpha{
    background: rgba(255, 255, 255, 0.722); 
    border: solid thin rgba(245, 222, 179, 1);
    color: wheat;
  }
  
  div.name{
    text-align:center;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 20px;
    font-size: 40px;
  }
  
  div.icon{
    margin-top: -30px;
    padding-right: 30px;
    float: right;
    margin: -65px 0 0 0px;
    font-size: 40px;
  }
  
  div.intro{
    font-size: 38px;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 30vh;
    right: 40vh;
    padding-left: 5%;
    display: grid;
  }
  
  h1.title{
    font-family: Mate;
    font-style: normal;
    font-weight: normal;
    font-size: 96px;
    line-height: 117px;
  }
  
  p.intro{
    font-family: Nunito;
    font-style: normal;
    font-weight: 100;
    font-size: 24px;
    line-height: 33px;
    width: 708px;
    height: 123px;
  }
  
  button.info{
    width: 161px;
    height: 50px;
  
    background: #F4BD16;
    border-radius: 10px;
    border: none;
    outline:none;
    -webkit-transition: all .3s ease-in-out;
  }
  
  button.info:hover{
    background: rgba(244, 189, 22, 0.9);
  }
  
  a.info{
    font-family: Nunito;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 25px;
    display: inline-flex;
  
    margin: auto;
  }
  
  img.homeLogo{
    position: absolute;
    width: 340px;
    height: 340px;
    left: 30vh;
    top: 1vh;position: absolute;
    width: 340px;
    height: 340px;
    left: 30vh;
    top: 1vh;
  }
  
  div.welcome{
    font-size: 38px;
    font-weight: bold;
    color: black;
    padding-left: 5%;
  }
  
  img.welcomeLogo{
    width: 340px;
    height: 340px;
    margin-top: 50px;
  }
  
  p.welcome{
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    width: 70%;
  }
  
  button.instagram{
    width: 161px;
    height: 50px;
    color: white;
    background: #004C6D;
    border-radius: 10px;
    border: none;
    outline:none;
    -webkit-transition: all .3s ease-in-out;
  }
  
  button.instagram:hover{
    background: #166486;
  }
  
  img.button{
    padding-left: 5px;
  }
  